@charset "UTF-8";
/* line 3, style.scss */
body {
  font-family: 'Lora', serif;
}

/* line 6, style.scss */
h2 {
  font-size: 30px;
}

/* line 9, style.scss */
.tit {
  font-family: 'Lora', serif;
  font-weight: bold;
}

/* line 27, style.scss */
.white {
  color: #FFF;
}

/* line 30, style.scss */
.back-black {
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 33, style.scss */
.tit {
  text-align: center;
}

/* line 36, style.scss */
.mt0 {
  margin-top: 0px;
}

/* line 39, style.scss */
.mb0 {
  margin-bottom: 0px;
}

/* line 42, style.scss */
.block {
  display: block;
}

@media screen and (max-width: 479px) {
  /* line 45, style.scss */
  .hidden-ss {
    display: none;
  }
}

@media screen and (min-width: 479px) {
  /* line 50, style.scss */
  .visible-ss {
    display: none;
  }
}

/* line 55, style.scss */
#pagetop {
  margin-left: 85%;
}
@media screen and (min-width: 768px) {
  /* line 55, style.scss */
  #pagetop {
    margin-left: 90%;
  }
}
/* line 60, style.scss */
#pagetop p {
  z-index: 100;
}
/* line 63, style.scss */
#pagetop img {
  width: 50px;
  height: 50px;
}
@media screen and (min-width: 479px) {
  /* line 63, style.scss */
  #pagetop img {
    width: 66px;
    height: 67px;
  }
}

/* line 74, style.scss */
#header {
  background-color: white;
  height: 40px;
  z-index: 100;
  font-weight: bold;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}
/* line 80, style.scss */
#header a {
  color: #0084ff;
  font-family: 'Lora', serif;
}
/* line 84, style.scss */
#header .logo {
  font-size: 25px;
  margin: 10px 0 0 10px;
}
/* line 89, style.scss */
#header .uk-navbar-nav a:hover {
  text-decoration: none;
}
/* line 92, style.scss */
#header .uk-navbar-nav a {
  padding: 0;
}
/* line 96, style.scss */
#header .uk-button-dropdown {
  background-color: white;
  margin-top: 5px;
}
/* line 101, style.scss */
#header .uk-nav .uk-grid {
  margin-left: 0px;
}
/* line 103, style.scss */
#header .uk-nav .uk-grid > * {
  padding-left: 0px;
}

/* line 111, style.scss */
#footer {
  background-color: #23033a;
  height: auto;
  color: white;
  position: relative;
  padding: 20px 0px 20px 30px;
  font-weight: bold;
}
/* line 118, style.scss */
#footer h2 {
  color: white;
  font-family: 'Lora', serif;
  padding-left: 10px;
}
/* line 123, style.scss */
#footer .footer-work {
  display: inline-block;
}
/* line 125, style.scss */
#footer .footer-work a {
  color: white;
}
/* line 128, style.scss */
#footer .footer-work a:hover {
  color: #0084ff;
}

/* line 138, style.scss */
.page-tit {
  text-align: center;
  margin-top: 20px;
}

/* line 142, style.scss */
.form-content {
  text-align: center;
  color: white;
}

/* line 146, style.scss */
.flex {
  display: flex;
  /* 要素をflexboxに対応させる */
  align-items: center;
  /* 縦方向の中央揃え */
  justify-content: center;
  /* 横方向の中央揃え */
  flex-direction: column;
  /* 子要素の並びを上から下にする（要素の改行に対応） */
}

/* line 153, style.scss */
.mt0 {
  margin: 0px;
}

/* line 156, style.scss */
.member {
  color: white;
}

/* line 159, style.scss */
.coment {
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 13px;
  padding-right: 12px;
}
/* line 163, style.scss */
.coment h3 {
  text-align: center;
  margin: 10px 0 5px 0;
}
/* line 170, style.scss */
.coment .text-coment {
  min-height: 150px;
  max-height: 150px;
  overflow: scroll;
}

/* line 177, style.scss */
.bbs-content {
  margin-bottom: 20px;
}
@media screen and (max-width: 479px) {
  /* line 177, style.scss */
  .bbs-content {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
/* line 183, style.scss */
.bbs-content .back-black {
  padding: 10px 0;
}

@keyframes home {
  /* line 190, style.scss */
  0% {
    background-image: url("../images/home/01_01.jpg");
  }

  /* line 191, style.scss */
  50% {
    background-image: url("../images/home/01_02.jpg");
  }

  /* line 192, style.scss */
  100% {
    background-image: url("../images/home/01_01.jpg");
  }
}

@keyframes home_ss {
  /* line 195, style.scss */
  0% {
    background-image: url("../images/home/01_01_ss.jpg");
  }

  /* line 196, style.scss */
  50% {
    background-image: url("../images/home/01_02_ss.jpg");
  }

  /* line 197, style.scss */
  100% {
    background-image: url("../images/home/01_01_ss.jpg");
  }
}

@keyframes Swallows {
  /* line 200, style.scss */
  0% {
    background-image: url("../images/Swallows/01.jpg");
  }

  /* line 201, style.scss */
  50% {
    background-image: url("../images/Swallows/02.jpg");
  }

  /* line 202, style.scss */
  100% {
    background-image: url("../images/Swallows/01.jpg");
  }
}

@keyframes Swallows_ss {
  /* line 205, style.scss */
  0% {
    background-image: url("../images/Swallows/01_ss.jpg");
  }

  /* line 206, style.scss */
  50% {
    background-image: url("../images/Swallows/02_ss.jpg");
  }

  /* line 207, style.scss */
  100% {
    background-image: url("../images/Swallows/01_ss.jpg");
  }
}

@keyframes Giants {
  /* line 210, style.scss */
  0% {
    background-image: url("../images/Giants/01.jpg");
  }

  /* line 211, style.scss */
  50% {
    background-image: url("../images/Giants/02.jpg");
  }

  /* line 212, style.scss */
  100% {
    background-image: url("../images/Giants/01.jpg");
  }
}

@keyframes Giants_ss {
  /* line 215, style.scss */
  0% {
    background-image: url("../images/Giants/01_ss.jpg");
  }

  /* line 216, style.scss */
  50% {
    background-image: url("../images/Giants/02_ss.jpg");
  }

  /* line 217, style.scss */
  100% {
    background-image: url("../images/Giants/01_ss.jpg");
  }
}

@keyframes Tigers {
  /* line 220, style.scss */
  0% {
    background-image: url("../images/Tigers/01.jpg");
  }

  /* line 221, style.scss */
  50% {
    background-image: url("../images/Tigers/02.jpg");
  }

  /* line 222, style.scss */
  100% {
    background-image: url("../images/Tigers/01.jpg");
  }
}

@keyframes Tigers_ss {
  /* line 225, style.scss */
  0% {
    background-image: url("../images/Tigers/01_ss.jpg");
  }

  /* line 226, style.scss */
  50% {
    background-image: url("../images/Tigers/02_ss.jpg");
  }

  /* line 227, style.scss */
  100% {
    background-image: url("../images/Tigers/01_ss.jpg");
  }
}

@keyframes Carp {
  /* line 230, style.scss */
  0% {
    background-image: url("../images/Carp/01.jpg");
  }

  /* line 231, style.scss */
  50% {
    background-image: url("../images/Carp/02.jpg");
  }

  /* line 232, style.scss */
  100% {
    background-image: url("../images/Carp/01.jpg");
  }
}

@keyframes Carp_ss {
  /* line 235, style.scss */
  0% {
    background-image: url("../images/Carp/01_ss.jpg");
  }

  /* line 236, style.scss */
  50% {
    background-image: url("../images/Carp/02_ss.jpg");
  }

  /* line 237, style.scss */
  100% {
    background-image: url("../images/Carp/01_ss.jpg");
  }
}

@keyframes Dragons {
  /* line 240, style.scss */
  0% {
    background-image: url("../images/Dragons/01.jpg");
  }

  /* line 241, style.scss */
  50% {
    background-image: url("../images/Dragons/02.jpg");
  }

  /* line 242, style.scss */
  100% {
    background-image: url("../images/Dragons/01.jpg");
  }
}

@keyframes Dragons_ss {
  /* line 245, style.scss */
  0% {
    background-image: url("../images/Dragons/01_ss.jpg");
  }

  /* line 246, style.scss */
  50% {
    background-image: url("../images/Dragons/02_ss.jpg");
  }

  /* line 247, style.scss */
  100% {
    background-image: url("../images/Dragons/01_ss.jpg");
  }
}

@keyframes Baystars {
  /* line 250, style.scss */
  0% {
    background-image: url("../images/Baystars/01.jpg");
  }

  /* line 251, style.scss */
  50% {
    background-image: url("../images/Baystars/02.jpg");
  }

  /* line 252, style.scss */
  100% {
    background-image: url("../images/Baystars/01.jpg");
  }
}

@keyframes Baystars_ss {
  /* line 255, style.scss */
  0% {
    background-image: url("../images/Baystars/01_ss.jpg");
  }

  /* line 256, style.scss */
  50% {
    background-image: url("../images/Baystars/02_ss.jpg");
  }

  /* line 257, style.scss */
  100% {
    background-image: url("../images/Baystars/01_ss.jpg");
  }
}

@keyframes Hawks {
  /* line 260, style.scss */
  0% {
    background-image: url("../images/Hawks/01.jpg");
  }

  /* line 261, style.scss */
  50% {
    background-image: url("../images/Hawks/02.jpg");
  }

  /* line 262, style.scss */
  100% {
    background-image: url("../images/Hawks/01.jpg");
  }
}

@keyframes Hawks_ss {
  /* line 265, style.scss */
  0% {
    background-image: url("../images/Hawks/01_ss.jpg");
  }

  /* line 266, style.scss */
  50% {
    background-image: url("../images/Hawks/02_ss.jpg");
  }

  /* line 267, style.scss */
  100% {
    background-image: url("../images/Hawks/01_ss.jpg");
  }
}

@keyframes Fighters {
  /* line 270, style.scss */
  0% {
    background-image: url("../images/Fighters/01.jpg");
  }

  /* line 271, style.scss */
  50% {
    background-image: url("../images/Fighters/02.jpg");
  }

  /* line 272, style.scss */
  100% {
    background-image: url("../images/Fighters/01.jpg");
  }
}

@keyframes Fighters_ss {
  /* line 275, style.scss */
  0% {
    background-image: url("../images/Fighters/01_ss.jpg");
  }

  /* line 276, style.scss */
  50% {
    background-image: url("../images/Fighters/02_ss.jpg");
  }

  /* line 277, style.scss */
  100% {
    background-image: url("../images/Fighters/01_ss.jpg");
  }
}

@keyframes Marines {
  /* line 280, style.scss */
  0% {
    background-image: url("../images/Marines/01.jpg");
  }

  /* line 281, style.scss */
  50% {
    background-image: url("../images/Marines/02.jpg");
  }

  /* line 282, style.scss */
  100% {
    background-image: url("../images/Marines/01.jpg");
  }
}

@keyframes Marines_ss {
  /* line 285, style.scss */
  0% {
    background-image: url("../images/Marines/01_ss.jpg");
  }

  /* line 286, style.scss */
  50% {
    background-image: url("../images/Marines/02_ss.jpg");
  }

  /* line 287, style.scss */
  100% {
    background-image: url("../images/Marines/01_ss.jpg");
  }
}

@keyframes Lions {
  /* line 290, style.scss */
  0% {
    background-image: url("../images/Lions/01.jpg");
  }

  /* line 291, style.scss */
  50% {
    background-image: url("../images/Lions/02.jpg");
  }

  /* line 292, style.scss */
  100% {
    background-image: url("../images/Lions/01.jpg");
  }
}

@keyframes Lions_ss {
  /* line 295, style.scss */
  0% {
    background-image: url("../images/Lions/01_ss.jpg");
  }

  /* line 296, style.scss */
  50% {
    background-image: url("../images/Lions/02_ss.jpg");
  }

  /* line 297, style.scss */
  100% {
    background-image: url("../images/Lions/01_ss.jpg");
  }
}

@keyframes Buffaloes {
  /* line 300, style.scss */
  0% {
    background-image: url("../images/Buffaloes/01.jpg");
  }

  /* line 301, style.scss */
  50% {
    background-image: url("../images/Buffaloes/02.jpg");
  }

  /* line 302, style.scss */
  100% {
    background-image: url("../images/Buffaloes/01.jpg");
  }
}

@keyframes Buffaloes_ss {
  /* line 305, style.scss */
  0% {
    background-image: url("../images/Buffaloes/01_ss.jpg");
  }

  /* line 306, style.scss */
  50% {
    background-image: url("../images/Buffaloes/02_ss.jpg");
  }

  /* line 307, style.scss */
  100% {
    background-image: url("../images/Buffaloes/01_ss.jpg");
  }
}

@keyframes Eagles {
  /* line 310, style.scss */
  0% {
    background-image: url("../images/Eagles/01.jpg");
  }

  /* line 311, style.scss */
  50% {
    background-image: url("../images/Eagles/02.jpg");
  }

  /* line 312, style.scss */
  100% {
    background-image: url("../images/Eagles/01.jpg");
  }
}

@keyframes Eagles_ss {
  /* line 315, style.scss */
  0% {
    background-image: url("../images/Eagles/01_ss.jpg");
  }

  /* line 316, style.scss */
  50% {
    background-image: url("../images/Eagles/02_ss.jpg");
  }

  /* line 317, style.scss */
  100% {
    background-image: url("../images/Eagles/01_ss.jpg");
  }
}

/* line 321, style.scss */
#home {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 110%;
  background-color: #000;
  animation: home_ss 10s linear infinite;
}
@media screen and (min-width: 479px) {
  /* line 321, style.scss */
  #home {
    animation: home 10s linear infinite;
  }
}

/* line 332, style.scss */
#home-01 {
  height: 100vh;
  text-align: center;
}
/* line 335, style.scss */
#home-01 .tit {
  color: white;
  font-size: 30px;
}
@media screen and (min-width: 479px) {
  /* line 335, style.scss */
  #home-01 .tit {
    font-size: 30px;
  }
}
@media screen and (min-width: 968px) {
  /* line 335, style.scss */
  #home-01 .tit {
    font-size: 50px;
  }
}

/* line 346, style.scss */
.home-tit {
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 50px 0 30px 0;
}
@media screen and (min-width: 479px) {
  /* line 346, style.scss */
  .home-tit {
    font-size: 40px;
  }
}
@media screen and (min-width: 968px) {
  /* line 346, style.scss */
  .home-tit {
    margin-top: 0px;
  }
}

/* line 358, style.scss */
#home-02 {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  color: white;
}

/* line 363, style.scss */
#home-03 {
  background-color: rgba(25, 135, 22, 0.6);
  padding-bottom: 40px;
}
@media screen and (min-width: 968px) {
  /* line 363, style.scss */
  #home-03 {
    height: 100vh;
  }
}

/* line 370, style.scss */
#home-04 {
  background-color: rgba(25, 22, 135, 0.6);
  padding-bottom: 40px;
}
@media screen and (min-width: 968px) {
  /* line 370, style.scss */
  #home-04 {
    height: 100vh;
  }
}

/* line 379, style.scss */
#Giants {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #fff;
  animation: Giants_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 379, style.scss */
  #Giants {
    animation: Giants 20s linear infinite;
  }
}

/* line 389, style.scss */
#Swallows {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #000;
  animation: Swallows_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 389, style.scss */
  #Swallows {
    animation: Swallows 20s linear infinite;
  }
}

/* line 399, style.scss */
#Swallows-01 {
  height: 100vh;
  display: flex;
  /* 要素をflexboxに対応させる */
  align-items: center;
  /* 縦方向の中央揃え */
  justify-content: center;
  /* 横方向の中央揃え */
  flex-direction: column;
  /* 子要素の並びを上から下にする（要素の改行に対応） */
}

/* line 406, style.scss */
#Tigers {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #000;
  animation: Tigers_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 406, style.scss */
  #Tigers {
    animation: Tigers 20s linear infinite;
  }
}

/* line 416, style.scss */
#Carp {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #000;
  animation: Carp_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 416, style.scss */
  #Carp {
    animation: Carp 20s linear infinite;
  }
}

/* line 426, style.scss */
#Dragons {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #000;
  animation: Dragons_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 426, style.scss */
  #Dragons {
    animation: Dragons 20s linear infinite;
  }
}

/* line 436, style.scss */
#Baystars {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #000;
  animation: Baystars_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 436, style.scss */
  #Baystars {
    animation: Baystars 20s linear infinite;
  }
}

/* line 446, style.scss */
#Hawks {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #000;
  animation: Hawks_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 446, style.scss */
  #Hawks {
    animation: Hawks 20s linear infinite;
  }
}

/* line 456, style.scss */
#Fighters {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #000;
  animation: Fighters_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 456, style.scss */
  #Fighters {
    animation: Fighters 20s linear infinite;
  }
}

/* line 466, style.scss */
#Marines {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #000;
  animation: Marines_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 466, style.scss */
  #Marines {
    animation: Marines 20s linear infinite;
  }
}

/* line 476, style.scss */
#Lions {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #000;
  animation: Lions_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 476, style.scss */
  #Lions {
    animation: Lions 20s linear infinite;
  }
}

/* line 486, style.scss */
#Buffaloes {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #000;
  animation: Buffaloes_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 486, style.scss */
  #Buffaloes {
    animation: Buffaloes 20s linear infinite;
  }
}

/* line 496, style.scss */
#Eagles {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #000;
  animation: Eagles_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 496, style.scss */
  #Eagles {
    animation: Eagles 20s linear infinite;
  }
}

/* line 3, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
body {
  font-family: 'Lora', serif;
}

/* line 6, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
h2 {
  font-size: 30px;
}

/* line 9, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
.tit {
  font-family: 'Lora', serif;
  font-weight: bold;
}

/* line 27, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
.white {
  color: #FFF;
}

/* line 30, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
.back-black {
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 33, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
.tit {
  text-align: center;
}

/* line 36, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
.mt0 {
  margin-top: 0px;
}

/* line 39, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
.mb0 {
  margin-bottom: 0px;
}

/* line 42, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
.block {
  display: block;
}

@media screen and (max-width: 479px) {
  /* line 45, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  .hidden-ss {
    display: none;
  }
}

@media screen and (min-width: 479px) {
  /* line 50, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  .visible-ss {
    display: none;
  }
}

/* line 55, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#pagetop {
  margin-left: 85%;
}
@media screen and (min-width: 768px) {
  /* line 55, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  #pagetop {
    margin-left: 90%;
  }
}
/* line 60, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#pagetop p {
  z-index: 100;
}
/* line 63, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#pagetop img {
  width: 50px;
  height: 50px;
}
@media screen and (min-width: 479px) {
  /* line 63, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  #pagetop img {
    width: 66px;
    height: 67px;
  }
}

/* line 74, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#header {
  background-color: white;
  height: 40px;
  z-index: 100;
  font-weight: bold;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}
/* line 80, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#header a {
  color: #0084ff;
  font-family: 'Lora', serif;
}
/* line 84, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#header .logo {
  font-size: 25px;
  margin: 10px 0 0 10px;
}
/* line 89, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#header .uk-navbar-nav a:hover {
  text-decoration: none;
}
/* line 92, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#header .uk-navbar-nav a {
  padding: 0;
}
/* line 96, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#header .uk-button-dropdown {
  background-color: white;
  margin-top: 5px;
}
/* line 101, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#header .uk-nav .uk-grid {
  margin-left: 0px;
}
/* line 103, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#header .uk-nav .uk-grid > * {
  padding-left: 0px;
}

/* line 111, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#footer {
  background-color: #23033a;
  height: auto;
  color: white;
  position: relative;
  padding: 20px 0px 20px 30px;
  font-weight: bold;
}
/* line 118, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#footer h2 {
  color: white;
  font-family: 'Lora', serif;
  padding-left: 10px;
}
/* line 123, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#footer .footer-work {
  display: inline-block;
}
/* line 125, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#footer .footer-work a {
  color: white;
}
/* line 128, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#footer .footer-work a:hover {
  color: #0084ff;
}

/* line 138, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
.page-tit {
  text-align: center;
  margin-top: 20px;
}

/* line 142, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
.form-content {
  text-align: center;
  color: white;
}

/* line 146, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
.flex {
  display: flex;
  /* 要素をflexboxに対応させる */
  align-items: center;
  /* 縦方向の中央揃え */
  justify-content: center;
  /* 横方向の中央揃え */
  flex-direction: column;
  /* 子要素の並びを上から下にする（要素の改行に対応） */
}

/* line 153, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
.mt0 {
  margin: 0px;
}

/* line 156, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
.member {
  color: white;
}

/* line 159, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
.coment {
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 13px;
  padding-right: 12px;
}
/* line 163, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
.coment h3 {
  text-align: center;
  margin: 10px 0 5px 0;
}
/* line 170, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
.coment .text-coment {
  min-height: 150px;
  max-height: 150px;
  overflow: scroll;
}

/* line 177, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
.bbs-content {
  margin-bottom: 20px;
}
@media screen and (max-width: 479px) {
  /* line 177, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  .bbs-content {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
/* line 183, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
.bbs-content .back-black {
  padding: 10px 0;
}

@keyframes home {
  /* line 190, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url(/assets/home/01_01.jpg);
  }

  /* line 191, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url(/assets/home/01_02.jpg);
  }

  /* line 192, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url(/assets/home/01_01.jpg);
  }
}

@keyframes home_ss {
  /* line 195, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/home/01_01_ss.jpg");
  }

  /* line 196, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/home/01_02_ss.jpg");
  }

  /* line 197, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/home/01_01_ss.jpg");
  }
}

@keyframes Swallows {
  /* line 200, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Swallows/01.jpg");
  }

  /* line 201, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Swallows/02.jpg");
  }

  /* line 202, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Swallows/01.jpg");
  }
}

@keyframes Swallows_ss {
  /* line 205, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Swallows/01_ss.jpg");
  }

  /* line 206, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Swallows/02_ss.jpg");
  }

  /* line 207, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Swallows/01_ss.jpg");
  }
}

@keyframes Giants {
  /* line 210, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Giants/01.jpg");
  }

  /* line 211, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Giants/02.jpg");
  }

  /* line 212, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Giants/01.jpg");
  }
}

@keyframes Giants_ss {
  /* line 215, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Giants/01_ss.jpg");
  }

  /* line 216, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Giants/02_ss.jpg");
  }

  /* line 217, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Giants/01_ss.jpg");
  }
}

@keyframes Tigers {
  /* line 220, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Tigers/01.jpg");
  }

  /* line 221, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Tigers/02.jpg");
  }

  /* line 222, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Tigers/01.jpg");
  }
}

@keyframes Tigers_ss {
  /* line 225, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Tigers/01_ss.jpg");
  }

  /* line 226, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Tigers/02_ss.jpg");
  }

  /* line 227, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Tigers/01_ss.jpg");
  }
}

@keyframes Carp {
  /* line 230, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Carp/01.jpg");
  }

  /* line 231, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Carp/02.jpg");
  }

  /* line 232, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Carp/01.jpg");
  }
}

@keyframes Carp_ss {
  /* line 235, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Carp/01_ss.jpg");
  }

  /* line 236, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Carp/02_ss.jpg");
  }

  /* line 237, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Carp/01_ss.jpg");
  }
}

@keyframes Dragons {
  /* line 240, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Dragons/01.jpg");
  }

  /* line 241, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Dragons/02.jpg");
  }

  /* line 242, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Dragons/01.jpg");
  }
}

@keyframes Dragons_ss {
  /* line 245, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Dragons/01_ss.jpg");
  }

  /* line 246, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Dragons/02_ss.jpg");
  }

  /* line 247, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Dragons/01_ss.jpg");
  }
}

@keyframes Baystars {
  /* line 250, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Baystars/01.jpg");
  }

  /* line 251, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Baystars/02.jpg");
  }

  /* line 252, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Baystars/01.jpg");
  }
}

@keyframes Baystars_ss {
  /* line 255, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Baystars/01_ss.jpg");
  }

  /* line 256, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Baystars/02_ss.jpg");
  }

  /* line 257, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Baystars/01_ss.jpg");
  }
}

@keyframes Hawks {
  /* line 260, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Hawks/01.jpg");
  }

  /* line 261, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Hawks/02.jpg");
  }

  /* line 262, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Hawks/01.jpg");
  }
}

@keyframes Hawks_ss {
  /* line 265, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Hawks/01_ss.jpg");
  }

  /* line 266, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Hawks/02_ss.jpg");
  }

  /* line 267, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Hawks/01_ss.jpg");
  }
}

@keyframes Fighters {
  /* line 270, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Fighters/01.jpg");
  }

  /* line 271, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Fighters/02.jpg");
  }

  /* line 272, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Fighters/01.jpg");
  }
}

@keyframes Fighters_ss {
  /* line 275, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Fighters/01_ss.jpg");
  }

  /* line 276, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Fighters/02_ss.jpg");
  }

  /* line 277, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Fighters/01_ss.jpg");
  }
}

@keyframes Marines {
  /* line 280, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Marines/01.jpg");
  }

  /* line 281, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Marines/02.jpg");
  }

  /* line 282, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Marines/01.jpg");
  }
}

@keyframes Marines_ss {
  /* line 285, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Marines/01_ss.jpg");
  }

  /* line 286, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Marines/02_ss.jpg");
  }

  /* line 287, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Marines/01_ss.jpg");
  }
}

@keyframes Lions {
  /* line 290, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Lions/01.jpg");
  }

  /* line 291, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Lions/02.jpg");
  }

  /* line 292, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Lions/01.jpg");
  }
}

@keyframes Lions_ss {
  /* line 295, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Lions/01_ss.jpg");
  }

  /* line 296, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Lions/02_ss.jpg");
  }

  /* line 297, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Lions/01_ss.jpg");
  }
}

@keyframes Buffaloes {
  /* line 300, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Buffaloes/01.jpg");
  }

  /* line 301, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Buffaloes/02.jpg");
  }

  /* line 302, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Buffaloes/01.jpg");
  }
}

@keyframes Buffaloes_ss {
  /* line 305, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Buffaloes/01_ss.jpg");
  }

  /* line 306, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Buffaloes/02_ss.jpg");
  }

  /* line 307, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Buffaloes/01_ss.jpg");
  }
}

@keyframes Eagles {
  /* line 310, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Eagles/01.jpg");
  }

  /* line 311, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Eagles/02.jpg");
  }

  /* line 312, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Eagles/01.jpg");
  }
}

@keyframes Eagles_ss {
  /* line 315, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  0% {
    background-image: url("../images/Eagles/01_ss.jpg");
  }

  /* line 316, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  50% {
    background-image: url("../images/Eagles/02_ss.jpg");
  }

  /* line 317, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  100% {
    background-image: url("../images/Eagles/01_ss.jpg");
  }
}

/* line 321, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#home {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 110%;
  background-color: #000;
  animation: home_ss 10s linear infinite;
}
@media screen and (min-width: 479px) {
  /* line 321, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  #home {
    animation: home 10s linear infinite;
  }
}

/* line 332, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#home-01 {
  height: 100vh;
  text-align: center;
}
/* line 335, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#home-01 .tit {
  color: white;
  font-size: 30px;
}
@media screen and (min-width: 479px) {
  /* line 335, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  #home-01 .tit {
    font-size: 30px;
  }
}
@media screen and (min-width: 968px) {
  /* line 335, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  #home-01 .tit {
    font-size: 50px;
  }
}

/* line 346, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
.home-tit {
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 50px 0 30px 0;
}
@media screen and (min-width: 479px) {
  /* line 346, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  .home-tit {
    font-size: 40px;
  }
}
@media screen and (min-width: 968px) {
  /* line 346, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  .home-tit {
    margin-top: 0px;
  }
}

/* line 358, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#home-02 {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  color: white;
}

/* line 363, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#home-03 {
  background-color: rgba(25, 135, 22, 0.6);
  padding-bottom: 40px;
}
@media screen and (min-width: 968px) {
  /* line 363, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  #home-03 {
    height: 100vh;
  }
}

/* line 370, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#home-04 {
  background-color: rgba(25, 22, 135, 0.6);
  padding-bottom: 40px;
}
@media screen and (min-width: 968px) {
  /* line 370, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  #home-04 {
    height: 100vh;
  }
}

/* line 379, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#Giants {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #fff;
  animation: Giants_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 379, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  #Giants {
    animation: Giants 20s linear infinite;
  }
}

/* line 389, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#Swallows {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #000;
  animation: Swallows_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 389, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  #Swallows {
    animation: Swallows 20s linear infinite;
  }
}

/* line 399, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#Swallows-01 {
  height: 100vh;
  display: flex;
  /* 要素をflexboxに対応させる */
  align-items: center;
  /* 縦方向の中央揃え */
  justify-content: center;
  /* 横方向の中央揃え */
  flex-direction: column;
  /* 子要素の並びを上から下にする（要素の改行に対応） */
}

/* line 406, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#Tigers {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #000;
  animation: Tigers_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 406, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  #Tigers {
    animation: Tigers 20s linear infinite;
  }
}

/* line 416, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#Carp {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #000;
  animation: Carp_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 416, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  #Carp {
    animation: Carp 20s linear infinite;
  }
}

/* line 426, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#Dragons {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #000;
  animation: Dragons_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 426, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  #Dragons {
    animation: Dragons 20s linear infinite;
  }
}

/* line 436, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#Baystars {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #000;
  animation: Baystars_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 436, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  #Baystars {
    animation: Baystars 20s linear infinite;
  }
}

/* line 446, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#Hawks {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #000;
  animation: Hawks_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 446, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  #Hawks {
    animation: Hawks 20s linear infinite;
  }
}

/* line 456, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#Fighters {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #000;
  animation: Fighters_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 456, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  #Fighters {
    animation: Fighters 20s linear infinite;
  }
}

/* line 466, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#Marines {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #000;
  animation: Marines_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 466, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  #Marines {
    animation: Marines 20s linear infinite;
  }
}

/* line 476, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#Lions {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #000;
  animation: Lions_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 476, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  #Lions {
    animation: Lions 20s linear infinite;
  }
}

/* line 486, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#Buffaloes {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #000;
  animation: Buffaloes_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 486, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  #Buffaloes {
    animation: Buffaloes 20s linear infinite;
  }
}

/* line 496, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
#Eagles {
  background-attachment: fixed;
  background-size: 110%;
  background-color: #000;
  animation: Eagles_ss 20s linear infinite;
  padding-bottom: 20px;
}
@media screen and (min-width: 479px) {
  /* line 496, /Users/ayumu/Desktop/rails/sports/app/assets/stylesheets/scss/style.scss */
  #Eagles {
    animation: Eagles 20s linear infinite;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

